.caixam {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 500px;
    width: 900px;
    gap: 0.5rem;
    background-color: #001830;
    padding: 1rem 2rem;
    border-radius: 20px;
    margin-inline: 1rem;
    position: relative;
    margin: auto; 
}

.caixamn {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 390px;
    width: 800px;
    background-color: #27bd80;
    padding: 1rem 2rem;
    border-radius: 20px;
    margin-inline: 1rem;
    position: relative;
    margin: auto; 
}

.space {
    display: flex;
    flex-direction: row;
}

.reta {
    height: 2px;
    width: 800px;
    background-color: #001830;
}

.hide {
    display: hidden;
}

.d {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;
}

.modal { 
    position: fixed; 
    width: 100vw; 
    height: 100vw; 
    z-index: 1; 
    left: 0;
    top: 0;
    overflow: scroll; 
    background-color: rgba(0,0,0,0.4); 
}

.buttonc {
    width: 150px;
    height: 60px;
    background-color: #27bd80;
    color: #ffffff;
    padding: 1rem 2rem;
    border-radius: 20px;
    margin-inline: 1rem;
    position: relative;
}