.buttonm {
    width: 400px;
    height: 40px;
    background-color: #ffffff;
    color: #282828;
    padding: 25px;
    border-radius: 20px;
    margin-bottom: 1rem;
    text-align: center;
    position: relative;
  }

  .fp {
    height: fit-content;
    width: fit-content;
    margin-top: 0.5rem;
    border-radius: 50%;
  }

  .mid {
    width: 500px;
    height: 690px;
    flex: 0.5;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    position: relative;
    margin: auto;
    background-color: #001830;
  }