@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f0f0f0;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f0f0f0;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.img {
  height: 100%;
  width: 50%;
  object-fit: cover;
}

.form {
  position: fixed;
  top: 15%;
  right: 15%;
  background-color: #f0f0f0;
  color: #282828;
  padding: 160px;
}

.h1 {
  position: fixed;
  color: #282828;;
  top: 5%;
  right: 10%;
  font-size: 50px;
}

.button {
  position: fixed;
  width: 150px;
  height: 60px;
  top: 40%;
  right: 30%;
  background-color: #dddda1;
  color: #282828;
  padding: 30px;
  border-radius: 20px;
  text-align: center;
}

.button2 {
  position: fixed;
  width: 150px;
  height: 60px;
  top: 40%;
  right: 15%;
  background-color: #dddda1;
  color: #282828;
  padding: 30px;
  border-radius: 20px;
  text-align: center;
}

.button3 {
  position: fixed;
  width: 400px;
  height: 60px;
  top: 20%;
  right: 15%;
  background-color: #ffffff;
  color: #282828;
  padding: 30px;
  border-radius: 20px;
  text-align: center;
}

.button4 {
  position: fixed;
  width: 400px;
  height: 60px;
  top: 30%;
  right: 15%;
  background-color: #ffffff;
  color: #282828;
  padding: 30px;
  border-radius: 20px;
  text-align: center;
}
