@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f0f0f0;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f0f0f0;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.img {
  height: 100%;
  width: 50%;
  object-fit: cover;
}

.form {
  position: fixed;
  top: 15%;
  right: 15%;
  background-color: #f0f0f0;
  color: #282828;
  padding: 160px;
}

.AvProf {
  position: fixed;
  color: #282828;;
  top: 5%;
  left: 20%;
  font-size: 50px;
  padding-left: 20px;
  margin-left: 25rem;
}

.buttonc {
  position: fixed;
  width: 150px;
  height: 60px;
  top: 80%;
  right: 12%;
  background-color: #dddda1;
  color: #282828;
  padding: 1rem 2rem;
  border-radius: 20px;
  text-align: center;
}

.buttonf {
  position: fixed;
  width: 400px;
  height: 60px;
  right: 10%;
  background-color: #ffffff;
  color: #282828;
  padding: 30px;
  border-radius: 20px;
  text-align: center;
}

.emaillog{
  top: 23%
}

.senhalog{
  top: 35%
}

.nome {
  top: 19%;
}

.email {
  top: 31%;
}

.senha {
  top: 43%;
}

.curso {
  top: 55%;
}

.departamento {
  top: 67%;
}

.criarlog{
  top: 50%;
}

.criarpic{
  top: 85%;
}

.entrarlog{
  right: 28%;
  top: 50%;
}