@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

img {
  height: 100%;
  width: 50%;
  object-fit: cover;
}

form {
  position: fixed;
  top: 15%;
  right: 15%;
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 5px;
}

h1 {
  position: fixed;
  top: 5%;
  right: 15%;
  padding: 20px;
}

button {
  position: fixed;
  top: 30%;
  right: 15%;
  background-color: #3d3d00;
  padding: 20px;
  border-radius: 5px;
}

button2 {
  position: fixed;
  top: 10%;
  right: 150px;
  background-color: #3d3d00;
  padding: 20px;
  border-radius: 5px;
}
